@namespace Components

@if(Product != null){
    <MudTooltip Text="@Product.Name" Color="Color.Tertiary" Placement="Placement.Bottom" Arrow="true">
        <MudButton Style="text-align:left;font-size:inherit;" Class="p-1">
            <MudPaper Class="pa-2 ma-1" Elevation="2" Width="12em" Height="15.5em" Style="font-size:inherit;">
                <MudStack Spacing="1">
                    <MudPaper MaxHeight="7em" Height="7em" Class="mb-1" Elevation="0">
                        <div class="d-flex justify-center" style="height: 7.5em;">
                            <MudImage Src="@Product.Image" Fluid="true" ObjectFit="ObjectFit.Contain" Alt="@Product.Name" ObjectPosition="ObjectPosition.Center" Class="rounded-lg" />
                        </div>
                    </MudPaper>
                    <MudDivider DividerType="DividerType.FullWidth" />
                    <MudPaper Height="2.7em" Class="mt-2 overflow-hidden" Elevation="0">
                        <MudText Class="dos-lineas" Style="font-size:inherit;">@Product.Name</MudText>
                    </MudPaper>
                    <MudStack Row="true">
                        <MudPaper Height="1em" Class="mt-1 overflow-hidden" Elevation="0">
                            <MudText Class="dos-lineas" Style="font-size:smaller;">@Product.Packaging</MudText>
                        </MudPaper>
                        <MudSpacer />
                        <MudPaper Height="1em" Class="mt-1 overflow-hidden" Elevation="0">
                            <MudText Class="dos-lineas" Style="font-size:smaller;">@Product.ReferencePriceString</MudText>
                        </MudPaper>
                    </MudStack>
                    <MudPaper Elevation="0">
                        <MudText Class="mt-1 una-linea" Style="font-size:larger; font-weight:bold">@Product.UnitPriceString</MudText>
                    </MudPaper>
                </MudStack>
            </MudPaper>
        </MudButton>
    </MudTooltip>
}


@code {
    [Parameter]
    public ProductModel? Product { get; set; }
}
