    
<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h6">Productos del momento</MudText>
    <MudText GutterBottom Typo="Typo.body2">Selección de productos destacados</MudText>
     <MudCarousel Class="mud-width-full align-content-center" Style="height:250px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
         @foreach (string fileName in Directory.EnumerateFiles("wwwroot/slider"))
        {
            <MudCarouselItem Transition="transition">
                <div class="d-flex" style="height:100%">
                    <MudImage Fluid="true" Src="@($"/slider/{Path.GetFileName(fileName)}")" />
                </div>
            </MudCarouselItem>
        }
    </MudCarousel>

    <MudText Class="mt-8" Typo="Typo.h6">Bajadas de precio</MudText>
    <MudText Typo="Typo.body2">Échales un vistazo</MudText>
     
    <ProductsGrid LandingMode="true" ItemsXPage="18" />

 </MudContainer>

 @code {
    private bool arrows = false;
    private bool bullets = false;
    private bool enableSwipeGesture = false;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}
