@inject NavigationManager navManager

@if(Product != null){
    <MudTooltip Text="@Product.Name" Color="Color.Primary" Placement="Placement.Bottom" Arrow="true">
        <MudButton Style="text-align:left;" OnClick="HandleProductClick">
            <MudPaper Class="pa-2 ma-2" Elevation="2" Width="10.5rem" Height="15rem">
                <MudStack Spacing="0">
                    <MudPaper MaxHeight="7rem" Height="7rem" Class="mb-1" Elevation="0">
                        <div class="d-flex justify-center" style="height: 7.5rem;">
                            <MudImage Src="@Product.Image" Fluid="true" ObjectFit="ObjectFit.Contain" Alt="@Product.Name" ObjectPosition="ObjectPosition.Center" Class="rounded-lg" />
                        </div>
                    </MudPaper>
                    <MudDivider DividerType="DividerType.FullWidth" />
                    <MudPaper Height="2.8rem" Class="overflow-hidden" Elevation="0">
                        <MudText Typo="Typo.body2" Style="font-weight:bold" Class="dos-lineas">@Product.Name</MudText>
                    </MudPaper>
                    <MudText Typo="Typo.caption">@Product.Packaging</MudText>
                    <MudText Typo="Typo.caption">@Product.ReferencePriceString</MudText>
                    <MudText Typo="Typo.body1" Style="font-weight:bold; text-align:right;">@Product.UnitPriceString</MudText>
                </MudStack>
            </MudPaper>
        </MudButton>
    </MudTooltip>
}


@code {
    [Parameter]
    public ProductModel? Product { get; set; }
    [Parameter]
    public bool FromLandingPage { get; set; }

    public void HandleProductClick()
    {
        if(Product != null)
        {
            navManager.NavigateTo($"/product?id={Product.Id}&fromlanding={FromLandingPage}");
        }
    }
}
