@inject NavigationManager navManager

@if(Product != null){
    <MudTooltip Text="@Product.Name" Color="Color.Primary" Placement="Placement.Bottom" Arrow="true">
        <MudButton Style="text-align:left;font-size:inherit;" OnClick="HandleProductClick">
            <MudPaper Class="pa-2 ma-2" Elevation="2" Width="10rem" Height="14rem" Style="font-size:inherit;">
                <MudStack Spacing="1">
                    <MudPaper MaxHeight="7rem" Height="7rem" Class="mb-1" Elevation="0">
                        <div class="d-flex justify-center" style="height: 7.5rem;">
                            <MudImage Src="@Product.Image" Fluid="true" ObjectFit="ObjectFit.Contain" Alt="@Product.Name" ObjectPosition="ObjectPosition.Center" Class="rounded-lg" />
                        </div>
                    </MudPaper>
                    <MudDivider DividerType="DividerType.FullWidth" />
                    <MudPaper Height="2.3rem" Class="mt-2 overflow-hidden" Elevation="0">
                        <MudText Class="dos-lineas" Style="font-size:inherit;">@Product.Name</MudText>
                    </MudPaper>
                    <MudStack Row="true">
                        <MudPaper Height="1rem" Class="mt-1 overflow-hidden" Elevation="0">
                            <MudText Class="dos-lineas" Style="font-size:smaller;">@Product.Packaging</MudText>
                        </MudPaper>
                        <MudSpacer />
                        <MudPaper Height="1rem" Class="mt-1 overflow-hidden" Elevation="0">
                            <MudText Class="dos-lineas" Style="font-size:smaller;">@Product.ReferencePriceString</MudText>
                        </MudPaper>
                    </MudStack>
                    <MudPaper Elevation="0">
                        <MudText Class="mt-0 una-linea" Style="font-size:larger; font-weight:bold">@Product.UnitPriceString</MudText>
                    </MudPaper>
                </MudStack>
            </MudPaper>
        </MudButton>
    </MudTooltip>
}


@code {
    [Parameter]
    public ProductModel? Product { get; set; }
    [Parameter]
    public bool FromLandingPage { get; set; }

    public void HandleProductClick()
    {
        if(Product != null)
        {
            navManager.NavigateTo($"/product?id={Product.Id}&fromlanding={FromLandingPage}");
        }
    }
}
